<section class="section service">
    <div class="container">
      <ul class="service-list">
        <li class="service-item">
          <div class="service-card">
            <div class="card-icon">
              <img src="images/home/our-services/service-1.png" width="53" height="28" loading="lazy"
                alt="Icono de Servicio 1">
            </div>
            <div>
              <h3 class="h4 card-title">Envíos Gratis</h3>
              <p class="card-text"> A partir de <span>$5000</span></p>
            </div>
          </div>
        </li>
        <li class="service-item">
          <div class="service-card">
            <div class="card-icon">
              <img src="images/home/our-services/service-2.png" width="43" height="35" loading="lazy"
                alt="Icono de Servicio 2">
            </div>
            <div>
              <h3 class="h4 card-title">Pagos</h3>
              <p class="card-text">Pago 100% seguro</p>
            </div>
          </div>
        </li>
        <li class="service-item">
          <div class="service-card">
            <div class="card-icon">
              <img src="images/home/our-services/service-3.png" width="40" height="40" loading="lazy"
                alt="Icono de Servicio 3">
            </div>
            <div>
              <h3 class="h4 card-title">Devoluciones</h3>
              <p class="card-text">Devolucion gratis</p>
            </div>
          </div>
        </li>
        <li class="service-item">
          <div class="service-card">
            <div class="card-icon">
              <img src="images/home/our-services/service-4.png" width="40" height="40" loading="lazy"
                alt="Icono de Servicio 4">
            </div>
            <div>
              <h3 class="h4 card-title">Soporte</h3>
              <p class="card-text">Soporte asegurado 24/7</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
