body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background: #fff;

}


.container {
    max-width: 1250px;
    margin: auto;
}

.header-container {
    background: #fff;
    box-shadow:  13px 13px 26px #f0eded,
                -13px -13px 26px #ffffff;
}

.header-container nav {
    padding: 5px 0;
}


.header-container .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header-container .nav-list .nav-item {
    display: grid;
    place-content: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: #000;
}

.header-container .nav-list a { 
    text-decoration: none;
    color: #7e7b7b;
}

.header-container .nav-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.header-container .nav-list ul a.selected {
    color: #003;
    border: 2px solid #949494;
    border-radius: 3px;
}

.header-container .nav-list ul a {
    font-size: 1.4rem;
    border: 2px solid transparent;
    border-radius: 3px;
    padding: 5px;
    transition: all .3s ease;
}


.header-container .nav-list ul a:hover {
    color: #363636;
    border: 2px solid #333e78;
}



/** MAIN **/

.main {
    margin: 60px auto 90px ;
    padding: 35px;
    
    border-radius: 10px;
    background: #FFF;
    box-shadow:  17px 17px 15px #e9e9e9,
                -17px -17px 15px #f7f7f7;
}

.data-info-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 0 20px;
    border-radius: 5px;
   
    gap: 32px;
}

.info-card {
    border-radius: 5px;
    background: #74b0ff;
        
    border-radius: 15px;
    background: #FFF;
    box-shadow:  17px 17px 15px #edebeb,
                -17px -17px 15px #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    gap: 10px;
}

.info-card div {
    color: #232323;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.info-card div span {
    color: #343434;

    font-weight: 600;
}


.info-card svg {
    height: 30px;
    opacity: .25;
}


.info-card h2, .info-card span  {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 200px;
}


.last-data-container {
    border-top: 2px dashed #cdcdcd;
    margin-top: 50px;
}

.last-data-container h1 {
    padding-top: 25px;
    padding-bottom: 5px;

}



.last-data {
    margin: 20px auto 20px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 30px;
}

.last-data > div {
    border-radius: 5px;
    background: #FFF;
    box-shadow:  17px 17px 15px #edebeb,
                -17px -17px 15px #f1f1f1;
            
    max-width: 500px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 30px 20px;
}

.last-data > div > .last-data-title {
    font-size: 1.3rem;
    color: #777777;
    font-weight: 600;
    text-transform: uppercase;
}

.last-data > div > figure {
    border: 2px dashed #cdcdcd;
    border-spacing: 10px;
    padding: 15px;
    border-radius: 5px;
    max-width: 290px;
    max-height: 330px;
    min-width: 260px;
    min-height: 300px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.last-data > div > figure > img {

    height: 100%;
    width: 100%;
    object-fit: contain;
}

.last-data > div  .last-data-name {
    font-size: 1.35rem;
    text-transform: uppercase;
    color: #010101;
    font-weight: 600;
}

.email-and-price-container {
    display: flex;
    gap: 10px;
    font-size: 1.25rem;
    color: #565656;
    font-weight: 600;

}

.email-and-price-container .old-price, .email-and-price-container .price   {
    color: #818181;
    font-size: 1.32rem;

}

.email-and-price-container .price {
    color: #555555;
}




/* ASIDE */ 
.aside {
    margin: 60px auto 90px ;
    padding: 35px;
    
    border-radius: 10px;
    background: #FFF;
    box-shadow:  17px 17px 15px #e9e9e9,
                -17px -17px 15px #f7f7f7;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

.table-title {
    margin-top: 0;
    margin-bottom: 21px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
}

.table img { 
    width: 80px;
    height: 90px;
    object-fit: contain;
}

th, td {
    padding: .7em;
    background: #efefef;
    text-align: center;
    border-bottom: 4px solid white;
    border-right: 6px solid white; 
}

th {
    text-transform: uppercase;
    font-size: 1.25rem;
}

td {
    font-size: 1.2rem;
}
  



/* FOOTER */
.footer-container {
    background: #fdfdfd;
    box-shadow:  13px -5px 17px #e7e5e5,
                -13px 19px 10px #ffffff;

    color: #000;
    padding: 20px 0;
}


.footer-logo  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo > a {
    text-decoration: none;
    color: #313131;
    display: inline-block;
}

.footer-logo > a > div {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.footer-logo > a > div span { 
    font-size: 1.3rem;
    font-weight: 600;
}

.footer-logo > a > div img {
    background-image: linear-gradient( to bottom right, #f2f2f2 0%, #ebe8e8 20%, #eaeaea 40%, #f7f7f7 60%, #ffffff 80% );
    background-size: 200% 200%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;

    animation: mov 3s linear infinite alternate;


}

@keyframes mov {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 100%;
    }
}



.members {
    margin-top: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.members span {
    font-size: 1.3rem;
    color: #313131;
    font-weight: 600;

}

.member-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.member-list .member-item  { 
    display: flex;
    align-items: center;
    gap: 3px;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 1.05rem;
    font-family: system-ui;
    padding: 4px 10px;
    transform: scale(1);
    transition: border .3s ease, transform .3s ease;

}

.member-list .member-item > img { 
    height: 1.45rem;
}

.member-list .member-item > a { 
    text-decoration: none;
    font-weight: 500;
    color: #444;
}

.member-list .member-item:hover {
    border: 2px solid #00f;
    transform: scale(1.05) rotate(-1deg);
} 
