<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#f7a486e1">
    <title>Raíces Jujeñas | Carrito</title>
    <link rel="shortcut icon" href="images/favicon.svg" type="image/svg+xml">

    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <script src="https://kit.fontawesome.com/a00d13e606.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/carrito.css">
    <script src="/js/carrito.js" defer></script>
</head>

<body>

    <%- include("./partials/header.ejs", { carrito: "selected" }) %>

        <main class="main">
            <div>
                <section class="main-productos">
                    <div class="">
                        <span>Productos</span>
                    </div>

          

                </section>

                <section class="main-resumen_compra">

                    <div class="main-resumen_compra-titulo">
                        <span>Resumen de compra</span>
                    </div>

                    <section>
                        <h5>Productos (N°)</h5>
                        <div class="main-resumen_compra-info">
                            <h5>Total</h5>
                            <h6>
                                $50000
                            </h6>
                        </div>
                        <a href="carrito/comprar-productos" class="button">
                            Continuar compra
                        </a>
                    </section>
                </section>
            </div>

        </main>


        <section class="container-carousel">
            <h2>Productos Relacionados</h2>
            <%- include("./partials/products/productList.ejs", { productsList, offerCalc }) %>

            
            
        </section>
   
        <%- include("./partials/footer.ejs") %>

            <!-- INICIO DE PAGINA -->
            <a href="#top" class="go-top-btn" data-go-top>
                <ion-icon name="arrow-up-outline"></ion-icon>
            </a>

            <script src="js/script.js"></script>

            <!-- ICONOS-->
            <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>