
<section class="section collection">

    <div class="container">

      <h2 class="h2 section-title">CATEGORIAS</h2>

      <ul class="collection-list has-scrollbar">

        <li>
          <div class="collection-card" style="background-image: url('/images/home/textiles.jpg')">
            <h3 class="h4 card-title">TEXTILES</h3>

            <a href="#" class="btn btn-secondary">
              <span>Explorar</span>

              <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
            </a>
          </div>
        </li>

        <li>
          <div class="collection-card" style="background-image: url('images/home/textiles.jpg')">
            <h3 class="h4 card-title">GASTRONOMIA</h3>

            <a href="#" class="btn btn-secondary">
              <span>Explorar</span>

              <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
            </a>
          </div>
        </li>

        <li>
          <div class="collection-card" style="background-image: url('images/home/textiles.jpg')">
            <h3 class="h4 card-title">DECO HOGAR</h3>

            <a href="#" class="btn btn-secondary">
              <span>Explorar</span>

              <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
            </a>
          </div>
        </li>

        <li>
          <div class="collection-card" style="background-image: url('images/home/textiles.jpg')">
            <h3 class="h4 card-title">ARTE VISUAL</h3>

            <a href="#" class="btn btn-secondary">
              <span>Explorar</span>

              <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
            </a>
          </div>
        </li>

        <li>
          <div class="collection-card" style="background-image: url('images/home/textiles.jpg')">
            <h3 class="h4 card-title">JOYERIA</h3>

            <a href="#" class="btn btn-secondary">
              <span>Explorar</span>

              <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
            </a>
          </div>
        </li>

        <li>
          <div class="collection-card" style="background-image: url('images/home/textiles.jpg')">
            <h3 class="h4 card-title">ARTESANIAS</h3>

            <a href="#" class="btn btn-secondary">
              <span>Explorar</span>

              <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
            </a>
          </div>
        </li>

      </ul>

    </div>
  </section>
