<header class="header" data-header>
    <div class="container">
      <div class="overlay" data-overlay></div>
      <a href="/" class="logo">
        <img src="/images/logo.svg" width="160" height="50" alt="Logo">
      </a>
      <button class="nav-open-btn" data-nav-open-btn aria-label="Open Menu">
        <ion-icon name="menu-outline"></ion-icon>
      </button>

      <nav class="navbar" data-navbar>
        <button class="nav-close-btn" data-nav-close-btn aria-label="Close Menu">
          <ion-icon name="close-outline"></ion-icon>
        </button>

        <a href="#" class="logo">
          <img src="images/logo.svg" width="190" height="50" alt="Logo">
        </a>

        <ul class="navbar-list">
          <li class="navbar-item">
            <a href="/" class="navbar-link">Inicio</a>
          </li>
          <li class="navbar-item">
            <a href="/productos" class="navbar-link">Productos</a>
          </li>
          <li class="navbar-item">
            <a href="/carrito" class="navbar-link">Carrito</a>
          </li>

          <% if (userLogged) { %>
            <form class="navbar-item" action="/logout" method="POST">
              <button class="navbar-link" type="submit">Cerrar Sesión</button>
            </form>
          <% } %>

          <% if (!userLogged) { %>
            <li class="navbar-item">
              <a href="/login" class="navbar-link">Iniciar Sesion</a>
            </li>
            <li class="navbar-item">
              <a href="/registro" class="navbar-link">Registrarse</a>
            </li>
          <% } %>
          
        </ul>

        <ul class="nav-action-list">
          <li>
            <button class="nav-action-btn">
              <ion-icon name="search-outline" aria-hidden="true"></ion-icon>
              <span class="nav-action-text">Buscar</span>
            </button>
          </li>
          <% if (userLogged) { %>
            <li>
              <a href="#" class="nav-action-btn">
                <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
                <span class="nav-action-text">Log In / Sing Up</span>
                <span> <%= user ? user.name : null %> </span>
              </a>
            </li>
          <% } %>
          <li>
            <button class="nav-action-btn">
              <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
              <span class="nav-action-text">Favoritos</span>
              <data class="nav-action-badge" value="5" aria-hidden="true">5</data>
            </button>
          </li>

          <li>
            <button class="nav-action-btn">
              <ion-icon name="bag-outline" aria-hidden="true"></ion-icon>
              <data class="nav-action-text" value="318.00">Carrito:</data>
              <data class="nav-action-badge" value="4" aria-hidden="true">4</data>
            </button>
          </li>

        </ul>

      </nav>

    </div>
  </header>