<footer class="footer">

    <div class="footer-top section">
      <div class="container">
        <div class="footer-brand">
          <a href="#" class="logo">
            <img src="/images/logo.svg" width="160" height="50" alt="Raices Jujeñas Logo">
          </a>
          <ul class="social-list">
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-pinterest"></ion-icon>
              </a>
            </li>
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>
          </ul>
        </div>

        <div class="footer-link-box">
          <!-- Footer Contacto -->
          <div class="footer-list">
            <h2 class="footer-list-title">Contacto </h2>
            <li>
              <a class="footer-link">
                <ion-icon name="location"></ion-icon>
                <span class="footer-link-text">
                  Y4600, Belgrano 3000, San Salvador de Jujuy, Jujuy - Argentina
                </span>
              </a>
            </li>
            <li>
              <a class="footer-link">
                <ion-icon name="call"></ion-icon>

                <span class="footer-link-text">+549 (388) - 1234567</span>
              </a>
            </li>
            <li>
              <a href="mailto:footcap@help.com" class="footer-link">
                <ion-icon name="mail"></ion-icon>
                <span class="footer-link-text">raicesjujeñas@jujuy.com</span>
              </a>
            </li>
          </div>

          <!-- Footer Cuenta -->
          <div class="footer-list">

            <h2 class="footer-list-title">Mi Cuenta</h2>
            <li>
              <a href="#" class="footer-link">
                <ion-icon name="chevron-forward-outline"></ion-icon>
                <span class="footer-link-text">Perfil</span>
              </a>
            </li>
            <li>
              <a href="/carrito" class="footer-link">
                <ion-icon name="chevron-forward-outline"></ion-icon>

                <span class="footer-link-text">Ver Carrito</span>
              </a>
            </li>
            <li>
              <a href="#" class="footer-link">
                <ion-icon name="chevron-forward-outline"></ion-icon>
                <span class="footer-link-text">Lista de Deseos</span>
              </a>
            </li>
          </div>

          <!-- Footer Preguntas -->
          <div class="footer-list">
            <h2 class="footer-list-title">Preguntas</h2>
            <li>
              <a href="#" class="footer-link">
                <ion-icon name="chevron-forward-outline"></ion-icon>
                <span class="footer-link-text">¿Cuál es el propósito de Raíces Jujeñas?</span>
              </a>
            </li>

            <li>
              <a href="#" class="footer-link">
                <ion-icon name="chevron-forward-outline"></ion-icon>
                <span class="footer-link-text">¿Cómo puedo acceder a mi cuenta?</span>
              </a>
            </li>
            <li>
              <a href="#" class="footer-link">
                <ion-icon name="chevron-forward-outline"></ion-icon>
                <span class="footer-link-text">¿Cómo puedo contactar al equipo de soporte?</span>
              </a>
            </li>
          </div>

          <!-- Footer NewsLetter-->
          <div class="footer-list">
            <h2 class="footer-list-title">Newsletter</h2>
            <p class="newsletter-text">
              ¡Suscríbete para no perderte de nuestras últimas noticias y actualizaciones!
            </p>
            <form action="" class="newsletter-form">
              <input type="email" name="email" required placeholder="Ingresá tu correo" class="newsletter-input">
              <button type="submit" class="btn btn-primary">Suscribirse</button>
            </form>
          </div>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; 2023 <a href="https://www.digitalhouse.com/ar" class="copyright-link"> Digital House</a>. Todos los
          derechos reservados
        </p>

      </div>
    </div>

  </footer>